<!-- if admin -->
<%= link_to 'New Post', new_post_path %>
  <br><br>
<!-- end admin -->

<div class='posts'>
	<% @posts.each do |post| %>
		<div class='titleTxt'>
			<%= link_to post.title, post_path(post.id) %>
		</div>
		<div class='dateTxt'>
			<%= post.date %>
		</div>
		<div class='bodyTxt'>
			<%= raw post.body %>
		</div>
	<% end %>
</div>