body {
	padding-bottom: 4%;
	margin: 0;
	font-family: "PT Serif",serif;
	letter-spacing: 0.5px;
	line-height: 1.8em;
	color: #222222;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.banner {
	margin-bottom: 4%;
	text-align: center;
}

.bannerImg {
	padding-top: 4%;
	width: 20%;
	max-width: 180px;
}

.home-rightcolumn {
	float: right;
	width: 36%;
	height: 100vh;
	background-color: orange;
	font-size: 11px;
	line-height: 1.3;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
		.footerTxt {
			text-align: center;
			color: white;
			font-weight: 600;
			font-size: 2rem;
			letter-spacing: 0.3rem;
			font-style: italic;
		}
		.connectDiv {
			width: 100%;
			background-color: #ffe2e7;
		}
				.instaDiv,
				.aboutDiv,
				.emailDiv,
				.websiteDiv {
					display: inline-block;
					vertical-align: top;
					width: 49.469%;
				}
				.instaDiv:hover,
				.aboutDiv:hover,
				.emailDiv:hover,
				.websiteDiv:hover {
					opacity: 0.6;
				}
		#earth_div {
			background-color: #444bff;
			width: 36vw;
    		height: 36vw;
		} 
		.mapDiv:hover {
			cursor: pointer;
		}


.home-leftcolumn {
	float: left;
	width: 64%;
}
		.home-post {
			padding: 2%;
			padding-left: 4%;
			padding-right: 4%;
			max-height: 80vh;
			overflow: scroll;
		}
		.aboutTxt {
			text-align: justify;
			font-size: 11px;
			line-height: 1.3;
			padding-left: 3%;
			padding-right: 3%;
			padding-top: 1%;
		}
		.index-link {
			text-align: right;
		}

.home-secondarycolumn {
	display: none;
}


.titleTxt {
	font-family: "ostrich_sansblack",Helvetica Neue,Helvetica,sans-serif;
	font-size: 1.5rem;
	line-height: 1.4;
	text-transform: uppercase;
  	letter-spacing: 2px;
}

.titleTxt a {
	text-decoration: none;
	color: #222222;
	cursor: pointer;
}

.dateTxt {
	font-family: "Montserrat",Helvetica Neue,Helvetica,sans-serif;
  	text-transform: uppercase;
  	letter-spacing: 2px;
  	font-size: 0.625rem;
  	color: #333;
  	line-height: 1;
}

.bodyTxt {
	font-family: "PT Serif",serif;
	font-size: 13px;
	line-height: 1.8em;
	letter-spacing: 0.5px;
	font-weight: normal;
}

.posts,
.post {
	width: 90%;
	margin: auto;
}

img {
	width: 100%;
	height: auto;
}




// @media all and (max-width: 1080px) {
// 	.footerTxt {
// 		display: none;
// 	}
// }

@media all and (max-width: 897px) {
	.instaDiv,
	.aboutDiv,
	.emailDiv,
	.websiteDiv {
		width: 49%;
	}
	.aboutTxt {
		display: none;
	}
	#earth_div {
		height: 300px;
	} 
}

@media all and (max-width: 476px) {
	.instaDiv,
	.aboutDiv,
	.emailDiv,
	.websiteDiv {
		width: 48%;
	}
	#earth_div {
		height: 200px;
	} 
}

@media all and (max-width: 238px) {
	.instaDiv,
	.aboutDiv,
	.emailDiv,
	.websiteDiv {
		display: block;
		width: 100%;
	}
	.mapDiv {
		display: none;
	}
}
