body {
	padding-bottom: 4%;
	margin: 0;
	font-family: "PT Serif",serif;
	letter-spacing: 0.5px;
	line-height: 1.8em;
	color: #222222;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.banner {
	margin-bottom: 4%;
	text-align: center;
}

.bannerImg {
	padding-top: 4%;
	width: 20%;
	max-width: 180px;
}


.homeHeader {
	font-variant: small-caps;
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: 0.6rem;
	padding: 1%;
}

		.footerTxt {
			text-align: center;
			color: white;
			font-weight: 600;
			font-size: 3vw;
			letter-spacing: 0.3rem;
			font-style: italic;
		}
		.connectDiv {
			text-align: center;
			width: 100%;
			padding-top: 1%;
		}
				.instaDiv,
				.aboutDiv,
				.emailDiv,
				.websiteDiv,
				.mapDiv {
					display: inline-block;
					vertical-align: top;
					width: calc(100% / 8);
				}
				.instaDiv:hover,
				.aboutDiv:hover,
				.emailDiv:hover,
				.websiteDiv:hover {
					opacity: 0.6;
				}
				.instaDiv,
				.emailDiv,
				.websiteDiv,
				.mapDiv {
					margin-left: 3%;
				}
				.instaDiv,
				.emailDiv,
				.websiteDiv,
				.aboutDiv {
					margin-right: 3%;
				}
		#earth_div {
			background-color: #444bff;
			// width: 20vw;
   //  		height: 20vw;
   			height: calc(100vw / 8);
		} 
		.mapDiv:hover {
			cursor: pointer;
		}


.home-post {
	padding: 2%;
	padding-left: 4%;
	padding-right: 4%;
	max-height: 66vh;
	overflow: scroll;
}

.aboutFooter {
	width: 100%;
	background-color: #f8f8f8;
}
		.aboutTxt {
			text-align: justify;
			font-size: 11px;
			line-height: 1.3;
			padding: 1%;
			padding-left: 3%;
			padding-right: 3%;
		}
		.index-link {
			text-align: right;
		}


.titleTxt {
	font-family: "ostrich_sansblack",Helvetica Neue,Helvetica,sans-serif;
	font-size: 1.5rem;
	line-height: 1.4;
	text-transform: uppercase;
  	letter-spacing: 2px;
}

.titleTxt a {
	text-decoration: none;
	color: #222222;
	cursor: pointer;
}

.dateTxt {
	font-family: "Montserrat",Helvetica Neue,Helvetica,sans-serif;
  	text-transform: uppercase;
  	letter-spacing: 2px;
  	font-size: 0.625rem;
  	color: #333;
  	line-height: 1;
}

.bodyTxt {
	font-family: "PT Serif",serif;
	font-size: 13px;
	line-height: 1.8em;
	letter-spacing: 0.5px;
	font-weight: normal;
}

.posts,
.post {
	width: 90%;
	margin: auto;
}

img {
	width: 100%;
	height: auto;
}




@media all and (max-width: 405px) {
	.instaDiv,
	.aboutDiv,
	.emailDiv,
	.websiteDiv
	.mapDiv {
		width: calc(100vw / 6);
		margin: 0;
	}
	#earth_div {
		height: calc(100vw / 6);
	} 
}