body {
	padding-bottom: 4%;
	margin: 0;
	font-family: "PT Serif",serif;
	letter-spacing: 0.5px;
	line-height: 1.8em;
	color: #222222;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.banner {
	margin-bottom: 4%;
	text-align: center;
}

.bannerImg {
	width: 20%;
	max-width: 180px;
}

.home-rightcolumn {
	float: right;
	width: 36%;
	padding-left: 3%;
	font-size: 11px;
	line-height: 1.3;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
		.connectDiv {
			width: 100%;
		}
				.instaDiv,
				.aboutDiv,
				.emailDiv,
				.websiteDiv {
					display: inline-block;
					vertical-align: top;
					width: 49.469%;
				}
				.instaDiv:hover,
				.aboutDiv:hover,
				.emailDiv:hover,
				.websiteDiv:hover {
					opacity: 0.6;
				}


.home-leftcolumn {
	float: left;
	width: 64%;
}
		.home-post {
			padding: 2%;
			overflow: scroll;
		}
		.index-link {
			text-align: right;
		}

.home-secondarycolumn {
	display: none;
}


.titleTxt {
	font-family: "ostrich_sansblack",Helvetica Neue,Helvetica,sans-serif;
	font-size: 1.5rem;
	line-height: 1.4;
	text-transform: uppercase;
  	letter-spacing: 2px;
}

.titleTxt a {
	text-decoration: none;
	color: #222222;
	cursor: pointer;
}

.dateTxt {
	font-family: "Montserrat",Helvetica Neue,Helvetica,sans-serif;
  	text-transform: uppercase;
  	letter-spacing: 2px;
  	font-size: 0.625rem;
  	color: #333;
  	line-height: 1;
}

.bodyTxt {
	font-family: "PT Serif",serif;
	font-size: 13px;
	line-height: 1.8em;
	letter-spacing: 0.5px;
	font-weight: normal;
}

.posts,
.post {
	width: 90%;
	margin: auto;
}

img {
	width: 100%;
	height: auto;
}


@media all and (max-width: 897px) {
	.instaDiv,
	.aboutDiv,
	.emailDiv,
	.websiteDiv {
		width: 49%;
	}
}

@media all and (max-width: 476px) {
	.instaDiv,
	.aboutDiv,
	.emailDiv,
	.websiteDiv {
		width: 48%;
	}
}

@media all and (max-width: 238px) {
	.instaDiv,
	.aboutDiv,
	.emailDiv,
	.websiteDiv {
		display: block;
		width: 100%;
	}
}
