<!DOCTYPE html>
<html>
  <head>
    <title>Sierra Writes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <script src="http://www.webglearth.com/v2/api.js"></script> <!-- globe mapping api -->
  </head>

  <body>
  
    <%= yield %>
  </body>
</html>
